@model IEnumerable<CRM.Models.TaskStatus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @Html.ActionLink("Добавить статус", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Статус
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.StatusId }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.StatusId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.StatusId })
        </td>
    </tr>
}

</table>
