@model PagedList.IPagedList<CRM.Models.Taska>
    @using PagedList.Mvc

    @{
        ViewBag.Title = "AjaxPositionList";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Задачи</h4>
                    <p class="category">@Html.ActionLink("Создать задачу", "Create")</p>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().TaskName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().TaskDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ManagerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().TaskStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Description)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaskName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaskDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ManagerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaskStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TaskId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
                            </td>
                        </tr>
                    }

                </table>
                <div id="paginationToDelete">
                    @Html.PagedListPager(Model, page => Url.Action("AjaxPositionList", new { page }),
                         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result", OnSuccess = "removeListAndPagination()" }))
                    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
                </div>
                </div>
</div>
</div>
</div>