@model CRM.Models.Taska

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Подробно</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.TaskId }) |
    @Html.ActionLink("Назад", "Index")
</p>
