@model CRM.Models.Taska

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Редактирование задачи</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TaskId)

    <div class="form-group">
        @Html.LabelFor(model => model.TaskName, "Название задачи", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CompanyName, "Наименование компании", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.CompanyName, ViewBag.CompaniesList as SelectList, "Выберите компанию...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger validation-span" })
        </div>
        <div class="col-md-1">
            <button type="button" class="btn click-btn"><a href="@Url.Action("Create", "Companies")">+</a></button>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, "Категория", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.CategoryName, ViewBag.CategoriesList as SelectList, "Выберите категорию...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger validation-span" })
        </div>
        <div class="col-md-1">
            <button type="button" class="btn click-btn"><a href="@Url.Action("Create", "Categories")">+</a></button>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TaskDate, "Выберите дату", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TaskDate, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker2", @type = "datetime-local", @min = "2000-01-02T00:00:00", @max = "2100-12-31T23:59:59" } })
            @Html.ValidationMessageFor(model => model.TaskDate, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.TaskStatus, "Выберите статус", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.TaskStatus, ViewBag.StatusesList as SelectList, "Выберите статус...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TaskStatus, "", new { @class = "text-danger validation-span" })
        </div>
        <div class="col-md-1">
            <button type="button" class="btn click-btn"><a href="@Url.Action("Create", "TaskStatus")">+</a></button>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, "Описание", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

