@model PagedList.IPagedList<CRM.Models.Taska>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Index</h2>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Задачи</h4>
                    <p class="category">@Html.ActionLink("Создать задачу", "Create")</p>
                </div>

                @using (Html.BeginForm("Index", "Taskas", FormMethod.Get))
    {

            @Html.AntiForgeryToken()
            <!-- Search  -->
            <div class="row">
                <div class="col-md-11 search-div" style="margin-bottom: 2%;">
                    <input type="text" id="searching" name="searching" class="form-control search" placeholder="Введите наименование компании" onchange="form.submit();"/>
                </div>
                <div class="col-md-1 search-div">
                    <button type="submit" class="btn btn-default default-btn">
                        <i class="fa fa-search"></i>
                        Поиск
                    </button>

                </div>
            </div>
            <!-- Filter  -->
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label" for="category-select-list">Выберите категорию (опционально)</label>

                    @Html.DropDownList("SelectedCategory",
new SelectList(ViewBag.UniqCategoriesList, "Value", "Text", "ViewBag.SelectedCategory"),
"Все", new { onchange = "form.submit();", @class = "form-control" })

                </div>
                <div class="col-md-4">
                    <label class="control-label" for="status-select-list">Выберите статус (опционально)</label>

                    @Html.DropDownList("SelectedStatus",
new SelectList(ViewBag.UniqStatusesList, "Value", "Text", "ViewBag.SelectedStatus"),
"Все", new { onchange = "form.submit();", @class = "form-control" })

                </div>
                <div class="col-md-4">
                    <label class="control-label" for="manager-select-list">Выберите менеджера (опционально)</label>

                    @Html.DropDownList("SelectedUser",
new SelectList(ViewBag.UniqManagerList, "Value", "Text", "ViewBag.SelectedUser"),
"Все", new { onchange = "form.submit();", @class = "form-control" })

                </div>
            </div>
}

                <hr>

                <div id="results"></div>
                <div class="content table-responsive table-full-width" id="accordion">
                    <table class="table table-striped" id="listTable">
                        <tr>
                            <th>
                                Наименование задачи
                            </th>
                            <th>
                                Компания
                            </th>
                            <th>
                                Категория

                            </th>
                            <th>
                                Дата
                            </th>
                            <th>
                                Менеджер
                            </th>
                            <th>
                                Статус
                            </th>
                            <th>
                                Описание
                            </th>
                            <th></th>
                        </tr>
                        @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4">
                        Ничего не найдено
                        <a href="@Url.Action("Index", "Taskas")">
                            <i class="fa fa-arrow-left"></i>
                            <p>Вернуться к списку</p>
                        </a>
                    </td>

                </tr>
}
else
{
    foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.TaskId }) |
                    @Html.ActionLink("Подробно", "Details", new { id = item.TaskId }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.TaskId })
                </td>
            </tr>
}
}
                    </table>
                    <div id="result"> </div>

                    <div id="paginationToDelete">
                        @Html.PagedListPager(Model, page => Url.Action("AjaxPositionList", new { page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result", OnSuccess = "removeListAndPagination()" }))
                        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>