@model IEnumerable<CRM.Models.Taska>

@{
    ViewBag.Title = "OwnIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Мои задачи</h4>
                    <p class="category">@Html.ActionLink("Создать задачу", "Create")</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Наименование задачи
                            </th>
                            <th>
                                Компания
                            </th>
                            <th>
                                Категория
                            </th>
                            <th>
                                Дата
                            </th>
                            <th>
                                Менеджер
                            </th>
                            <th>
                                Статус
                            </th>
                            <th>
                                Описание
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ManagerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.ActionLink("Редактировать", "Edit", new { id = item.TaskId }) |
                                    @Html.ActionLink("Подробно", "Details", new { id = item.TaskId }) |
                                    @Html.ActionLink("Удалить", "Delete", new { id = item.TaskId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
